<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Lucas Vieira Vicente</h1>
        <div class="subheading mb-4">
            <i class="fa-solid fa-map-location-dot"></i> Mauá - São Paulo<br>
            <i class="fa-solid fa-mobile"></i> +55 (11) 98377-3017<br>
            <i class="fa-solid fa-at"></i>&nbsp;<a href="mailto:lucasvieiravicente1@gmail.com">lucasvieiravicente1@gmail.com</a>
        </div>
        <p class="lead mb-2"> 
            Engenheiro de software profissionalmente a quase 3 anos, porém envolvido com programação a pelo menos {{ getProfessionalTime() }} anos atuando com desenvolvimento web, atendendo as necessidades do projeto e do time conforme a demanda, como back-end ou front-end, finalizando uma formação em Informática para Negócios pela FATEC - Mauá.
        </p>
        <p class="lead mb-4">
            Durante sua trajetória profissional colaborou em projetos das mais diversas áreas como: financeiro, investimentos, inspeção e certificação, encarregando-se do processo completo desde o entendimento das necessidades do cliente, negociação das necessidades a serem desenvolvidas e na construção do projeto.
        </p>
        <div class="social-icons">
            <a *ngFor="let socialMedia of socialMedias index as i"
                href="{{ socialMedia.url }}" target="_blank"
                class="social-icon"
            >
                <i class="{{ socialMedia.icon }}"></i>
            </a>
        </div>
    </div>
</section>
<hr class="m-0" />