<mat-accordion class="page-section m-1" id="portfolio">
  <div class="container"> 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="masthead-subheading d-flex justify-content-center">
          <span class="font-weight-bold lead stack-title text-center mb-1 mt-1">{{ this.stack.stackName }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-knowledge-card></app-knowledge-card>
    </mat-expansion-panel>
  </div>

</mat-accordion>