button {
    vertical-align: bottom;
    box-shadow: 1px 1.1px 0.5px rgba(0, 0, 0, 0.384);
    margin-bottom: 0;
}

#content {
    color: #6c757d;
}

#closeButton {
    float: right;
}

#strong {
    font-weight: bold !important;
}