<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiência</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Software Engineer</h3>
                <div class="subheading mb-3">Iteris Consultoria e Software</div>
                <p> 
                    Desenvolvimento de novas funções ou manutenções das aplicações web complexas, além de auxiliar os membros mais novos do time na evolução de carreira sendo ponto de referência em alguns projetos.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">Março 2021 - Presente</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineer Trainee</h3>
                <div class="subheading mb-3">Iteris Consultoria e Software</div>
                <p>
                    Envolvido com o desenvolvimento de sistemas web, aplicando novas funções ou trabalhando em manutenções necessárias.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">Setembro 2019 - Fevereiro 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineer Intern</h3>
                <div class="subheading mb-3">So+ma Vantagens</div>
                <p>
                    Estagiário em engenharia de software empregando diversas tecnologias para o desenvolvimento de sistemas Web completo.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-secondary">Dezembro 2019 - Agosto 2020</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />